{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Title</th>
        <th scope="col">price</th>
        <th scope="col">QTY</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for id, product in products.items%}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'product_page' id %}">{{ product.title }}</a></td>
                <td>{{ product.price|mul:rate_select_currency }} {{disp_select_currency}}</td>
                <td>{{ product.qty }}</td>
                <td><button type='submit' onclick="del_basket('{{product.id}}')">X</button></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <form action="" method="POST">
    {%csrf_token%}

  {% for delivery in all_delivery%}
    <input type="radio" name = 'delivery' value="{{delivery.id}}" id="">
    <b>{{delivery.name}}</b>
    {{delivery.description}}
    <br>
  {%endfor%}
  PROMO:  <input type="text" name ='promo_code' id='promo_code'><button type="button" onclick="is_promo()" id="btn_promo">Проверить</button><br>
  <button type="submit">Оформить</button>
  </form>
  <div id="sum_info">
    <p>Общая стоимость: {{total_cost|mul:rate_select_currency |floatformat:2 }} {{disp_select_currency}}</p>
  </div>
  <script>document.getElementsByName("delivery")[0].checked = true;</script>
  <script>
    function del_basket(id){
        $.ajax({
            type: 'POST', url: '{% url "basket_page" %}',
            data:{'csrfmiddlewaretoken':scrf_token, 'type':'del', 'id':id,},
            dataType: 'json',
            cache: false,
            success: function(data){
                if (data.success){
                  $('table tbody').html(data.responce);

                }
            }
        });
  }
    function is_promo(){
      $.ajax({
        type:'POST', url: '{% url "basket_page" %}',
        data:{'csrfmiddlewaretoken':scrf_token, 'promocode':$('#promo_code').val(),},
        dataType: 'json',
        cache: false,
        success: function(data){
            if (data.success){
              $('#sum_info').append('<p>Сумма с учетом скидки - '+data.success+'</p>')
            }
            else{
              var $item = $('<span class="error_promo">'+data.error+'</span>');
              $item.after('#btn_promo').delay(4000).slideUp(500, function(){
                $item.remove();
              });
            }
        }
      })
    }
</script>
  {% endblock %}