{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
    {% if product.photo %}<img src="{{product.photo.url}}">{%endif%}
    {{ product.title }} <br>
    {% if product.file_digit %}{{product.file_digit.url}}{%endif%}
    {{ product.price|mul:rate_select_currency }} {{disp_select_currency}}<br>
        <div class="form_add_basket">
            <input type="number" step='1' min=1 name='cnt' start='1' value="1" id="cnt_product">
            <button type='submit' onclick="add2basket('{{product.id}}')" id="btn_add2basket">Добавить в корзину</button>
        </div>
    </form>

    <script>
        function add2basket(id){
            var cnt = $('#cnt_product').val();
            $.ajax({
                type: 'POST', url: '{% url "basket_page" %}',
                data:{'csrfmiddlewaretoken':scrf_token, 'cnt':cnt, 'type':'add', 'id':id,},
                dataType: 'json',
                cache: false,
                success: function(data){
                    if (data.success){
                        var $item = $('<span class="msg">'+ data.success +'</span>');
                        $item.appendTo('.form_add_basket').delay(4000).slideUp(500, function(){
                                $item.remove();
                        });
                    }
                }
            });
    }
    </script>
{% endblock %}